.toast {
    font-weight: 800;
  }

  .toast-alert {
    background-color: rgba(105, 64, 180, 0.692);
  }

  .toast-error {
    background-color: rgba(231, 49, 58, 0.979);
  }

  /* correção de bugs materialize */
.input-field input[type='text']:not(.browser-default):focus {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0#3c3f42;
  color: white !important;

}
.dropdown-content li > a, .dropdown-content li > span {
color: #404B4E;
}

/* box de resultados */

/* estilos btn */
.btn {
 margin: 0 4% 0;
}
.box-filtro {
margin-top: -1px;
}

.p-10 {
  padding: 100px;
}

.m-auto {
  margin: 0 auto;
}
.mt-30{
  margin-top: 30px;
}
.text-center {
  text-align: center;
}

.card {
  height: 250px;
}
.card-action {
  font-weight: 800;
}
